<!DOCTYPE html>
<!-- create a form, containing input for age, drop down for sex and input for marks -->
<! --- put the form in the center of page -->
<html>
<head>
<title>Student Information</title>
</head>
<body>
<h1> Enter in studnet info </h1>
<form action="predict" method="post">
<center>
<table border="1">
<tr>
<td>Age</td>
<td><input type="text" name="age" /></td>
</tr>
<tr>
<td>Sex</td>
<td><select name="sex">
<option value="Male">Male</option>
<option value="Female">Female</option>
</select></td>
</tr>
<tr>
<td>Marks</td>
<td><input type="text" name="marks" /></td>
</tr>
<tr>
<td><input type="submit" value="Submit" /></td>
</tr>
</table>
</center>
</form>
</body>
</html>